#board {
    background-image: url("../image/art.jpg");
    background-size: cover;
    position: absolute;
    border: 1px solid cadetblue;
    width: 300px;
    height: 200px;
}


#close {
    cursor: pointer;
    float:right;
    margin: 2px;
}
#pic {
    float:left;
    margin: 2px;
    width: 16px;
}
.navbar {
    cursor: move;
    background-color: rgb(247, 245, 245);
    height: 24px;
}
.removed {
    display: none;
}

#lineWidth {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
}

#capType {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

#submit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    background-color: rgb(115, 224, 115);
    padding: 5px 15px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(83, 202, 83);
}

select {
    border-radius: 10px;
    padding: 5px;
}