#settings {
    position: absolute;
    border: 1px solid cadetblue;
    background-color: rgb(218, 231, 183);
    width: 300px;
    height: 200px;
}
#close {
    cursor: pointer;
    float:right;
    margin: 2px;
}
#pic {
    float:left;
    margin: 2px;
    width: 16px;
}
.navbar {
    cursor: move;
    background-color: rgb(247, 245, 245);
    height: 24px;
}
#size {
    margin-left: 30px;
    margin-top: 30px;
}

#submit {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(115, 224, 115);
    padding: 5px 15px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(83, 202, 83);
}
.removed {
    display: none;
}

#img1 {
    width: 32px;
}

#size {
    margin-left: 30px;
}

#image {
    margin-top: 10px;
    margin-left: 30px;
}

#settings p {
    text-align: center;
    text-transform: uppercase;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p, option {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}