#chat {
    position: absolute;
    border: 1px solid cadetblue;
    background-color: #444;
    width: 400px;
    height: 412px;
}
#close {
    cursor: pointer;
    float:right;
    margin: 2px;
}
#pic {
    float:left;
    margin: 2px;
    width: 16px;
}
.senderMessage, .recieverMessage {
    width: 350px;
}

.navbar {
    cursor: move;
    background-color: rgb(247, 245, 245);
    height: 20px;
}

.removed {
    display: none;
}

.messages {
    width: 400px;
    height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
}

.login {
    margin-left: 150px;
    margin-top: 150px;
}

#write {
    height: 65px;
    width: 355px;
    resize: none;
}

.sendMessage {
    width: 400px;
}

#smiley {
    float:right;
    width: 35px;
}

#emojis {
    background-color: rgb(126, 111, 111);
    border: 2px solid black;
    position: absolute;
    right: 20px;
    bottom: 75px;
    width: 110px;
}

#emojis p {
    cursor: pointer;
    float: right;
}