#chat {
    border: 1px solid cadetblue;
    background-color: #444;
    width: 300px;
    height: 300px;
}
#close {
    cursor: pointer;
    float:right;
    margin: 2px;
}
#timestamp {
    float: left;
    margin: 2px;
    font-size: 12px;
}
.senderMessage, .recieverMessage {
    width: 300px;
    height: 20px;
}

.navbar {
    background-color: rgb(247, 245, 245);
    height: 20px;
}

.removed {
    display: none;
}

.messages {
    width: 300px;
    height: 230px;
    margin-bottom: 2%; 
    overflow-y: auto;
    overflow-x: hidden;
}
