#board {
    position: absolute;
    border: 1px solid cadetblue;
    background-color: white;
    width: 600px;
    height: 400px;
}

#close {
    cursor: pointer;
    float:right;
    margin: 2px;
}
#pic {
    float:left;
    margin: 2px;
    width: 16px;
}
.navbar {
    cursor: move;
    background-color: rgb(247, 245, 245);
    height: 24px;
}
.removed {
    display: none;
}

.tabs {
    width: 80px;
}

.hidden {
    visibility: hidden;
}

#tools {
    float: right;
    background-color: #444;
    height: 100px;
    width: 300px;
}

#timer {
    background-color: rgb(94, 93, 93);
    width: 240px;
    text-align: center;
    height: 25px;
    margin-left: 30px;
    margin-top: 15px;
}

#clicks {
    background-color: rgb(94, 93, 93);
    width: 240px;
    text-align: center;
    height: 25px;
    margin-left: 30px;
    margin-top: 20px;
}