#board {
    position: absolute;
    border: 1px solid cadetblue;
    background-color: white;
    width: 800px;
    height: 540px;
}

#close {
    cursor: pointer;
    float:right;
    margin: 2px;
}
#pic {
    float:left;
    margin: 2px;
    width: 16px;
}
.navbar {
    cursor: move;
    background-color: rgb(247, 245, 245);
    height: 24px;
}
.removed {
    display: none;
}
#settings {
    height: 20px;
    background-color: #444;
}
#tools {
    float:left;
    width: 50px;
    margin-right: 10px;
}

#pink {
    background-color: pink;
}

#red {
    background-color: red;
}

#black {
    background-color: #444;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}
#green {
    background-color: green;
}

#cyan {
    background-color: cyan;
}

#purple {
    background-color: purple;
}

.colour {
    cursor: pointer;
    float: left;
    width: 60px;
    height: 50px;
}

#brushValue {
    margin-top: 15px;
    width: 54px;
}

#input {
    border: 1px solid #444;
    background-image: url("../image/parallel.png");
    background-color: rgb(223, 222, 191);
    height: 60px;
}
#bucket {
    width: 55px;
}

#bucketDiv {
    background-color: rgb(223, 222, 191);
}

#canvasDrawing { 
    position: absolute;
    width: 745px;
    height: 515px;
}

#changeSettings {
    cursor: pointer;
}
.paintSettings {
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
}