body, html {
    margin: 0;
    padding: 0;
    background-image: url("../image/sky.jpg");
}

.icons {
    cursor: pointer;
    width: 64px;
    margin: 2px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 5px;
}